/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f7f7f7;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

  background-color: var(--background-start-rgb);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 6rem 6rem;
  min-height: 100vh;
  background-color: #f7f7f7;
  overflow-x: hidden !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (min-width: 500px) {
  body {
    max-width: 400px;
    right: auto !important;
    left: auto !important;
    margin: 0 auto !important;
  }

  .appBar-main {
    max-width: 400px;
    right: auto !important;
    left: auto !important;
    margin: 0 auto !important;
  }
}

.cardImg {
  width: 350px;
  background-color: #1fa06e;
  color: #ffff;
  border-radius: 10px;
  z-index: 9999999999;
  position: relative;
}

.imgHome {
  position: absolute;
  z-index: -0.5;
  right: 3%;
  top: 38%;
}

.swiper-slide.swiper-slide-prev {
  transform: none !important;
}

.swiper-slide.swiper-slide-next {
  transform: none !important;
}

.swiper-container {
  overflow: visible !important;
}

.swiper-container-1 {
  overflow-x: visible !important; /* Override swiper's default overflow-x */
  overflow-y: hidden !important; /* Override swiper's default overflow-y */
}

.swiper {
  overflow: visible !important;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.swiper-slide.swiper-slide-active {
  width: 140px !important;
}

.container-image-slider {
  background-color: #129466 !important;
  border-radius: 15px;
  height: 80px !important;
  width: 140px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.swiper-slide.swiper-slide-active .container-image-slider {
  background-color: #129466 !important;
  height: 160px !important;
  width: 140px !important;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.swiper-slide.swiper-slide .imgSlide {
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 45px;
  right: 0;
  left: 0;
  margin: auto;
}

.swiper-slide.swiper-slide-active .imgSlide {
  width: 140px;
  height: 140px;
  bottom: 60px;
}

.swiper-slide.swiper-slide-next .caption-slider {
  display: flex;
}

.swiper-slide.swiper-slide-prev .caption-slider {
  display: flex;
}

.swiper-slide.swiper-slide-active .active-caption-slider {
  display: flex;
}

.add-popup {
  height: 20vh;
}

.add-popup .swal2-icon {
  font-size: 8px;
}

.add-popup .swal2-html-container {
  margin: 0px;
}

.delete-popup .swal2-title {
  font-size: 22px !important;
  font-weight: 500 !important;
}

.delete-popup .swal2-confirm {
  font-size: 15px;
  color: #ffff;
  background-color: #129465 !important;
  font-weight: 500px;
}

.delete-popup .swal2-cancel {
  font-size: 15px;
  font-weight: 500px;
  background-color: transparent;
  color: black;
  border: 1px solid #dbdbdb;
}
